<p>main works!</p>

<p>Students</p>
<form>
    <fieldset >
        <legend>Student Info</legend>
        <label for="name"> Your Student ID</label>
        <input  name="studentId" type="text" placeholder="Enter Student ID" [(ngModel)]="studentId"/>
        <button type="submit" (click) = "profile()"> Get Courses</button> 

    </fieldset>

</form>

<table class="table">

    <tr>
        <th>Student ID</th>
        <th>First Name</th>
        <th>Last Name</th>

    </tr>
    <tbody>
        <tr class="info" *ngFor= "let student of Student">
            <td>{{student.id}}</td>
            <td>{{student.firstname}}</td>
            <td>{{student.lastname}}</td>
        </tr>


    </tbody>


</table>
